# logs
logs
*.log
npm-debug.log*

# dependency directories
node_modules/
jspm_packages/

# builds
dist/
tmp/
out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
